.u-section-1 {
  background-image: none;
  min-height: 577px;
}

.u-section-1 .u-image-1 {
  width: 482px;
  height: 482px;
  filter: brightness(0.9);
  background-image: url("images/bao_remove.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  animation-duration: 1000ms;
  margin: -331px calc(((100% - 1140px) / 2) + 974px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-icon-1 {
  height: 75px;
  width: 76px;
  animation-duration: 1000ms;
  margin: -108px auto 0 calc(((100% - 1140px) / 2) + 45px);
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  animation-duration: 1000ms;
  margin: 0 calc(((100% - 1140px) / 2) + 779px) 0 calc(((100% - 1140px) / 2) + 287px);
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  animation-duration: 1000ms;
  margin: -97px auto 0 calc(((100% - 1140px) / 2) + 292px);
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  animation-duration: 1000ms;
  margin: 138px calc(((100% - 1140px) / 2) + 751px) 0 calc(((100% - 1140px) / 2) + 259px);
}

.u-section-1 .u-icon-3 {
  height: 75px;
  width: 76px;
  animation-duration: 1000ms;
  margin: -108px auto 0 calc(((100% - 1140px) / 2) + 45px);
}

.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  animation-duration: 1000ms;
  margin: -64px auto 0 calc(((100% - 1140px) / 2) + 292px);
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  animation-duration: 1000ms;
  margin: 144px calc(((100% - 1140px) / 2) + 765px) 0 calc(((100% - 1140px) / 2) + 273px);
}

.u-section-1 .u-icon-5 {
  height: 75px;
  width: 76px;
  animation-duration: 1000ms;
  margin: -108px auto 0 calc(((100% - 1140px) / 2) + 45px);
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  animation-duration: 1000ms;
  margin: 0 calc(((100% - 1140px) / 2) + 959px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-icon-6 {
  height: 64px;
  width: 64px;
  animation-duration: 1000ms;
  margin: -97px auto 0 calc(((100% - 1140px) / 2) + 292px);
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  animation-duration: 1000ms;
  margin: -144px calc(((100% - 1140px) / 2) + 981px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-text-7 {
  font-size: 6rem;
  font-weight: 700;
  animation-duration: 1000ms;
  text-transform: uppercase;
  line-height: 1.4;
  margin: -221px calc(((100% - 1140px) / 2) + 285px) 60px calc(((100% - 1140px) / 2) + 500px);
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 554px;
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 1140px) / 2) + 20px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 874px);
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-icon-1 {
    width: 75px;
    margin-left: calc(((100% - 1140px) / 2) + 145px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 729px);
    margin-left: calc(((100% - 1140px) / 2) + 337px);
  }

  .u-section-1 .u-icon-2 {
    margin-left: calc(((100% - 1140px) / 2) + 192px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 1140px) / 2) + 696px);
    margin-left: calc(((100% - 1140px) / 2) + 314px);
  }

  .u-section-1 .u-icon-3 {
    width: 75px;
    margin-left: calc(((100% - 1140px) / 2) + 145px);
  }

  .u-section-1 .u-icon-4 {
    margin-left: calc(((100% - 1140px) / 2) + 145px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 1140px) / 2) + 713px);
    margin-left: calc(((100% - 1140px) / 2) + 325px);
  }

  .u-section-1 .u-icon-5 {
    width: 75px;
    margin-left: calc(((100% - 1140px) / 2) + 145px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 1140px) / 2) + 859px);
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-icon-6 {
    margin-left: calc(((100% - 1140px) / 2) + 192px);
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 1140px) / 2) + 881px);
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 1140px) / 2) + 320px);
    margin-left: calc(((100% - 1140px) / 2) + 447px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 1140px) / 2) + 130px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 764px);
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 1140px) / 2) + 255px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 674px);
    margin-left: calc(((100% - 1140px) / 2) + 392px);
  }

  .u-section-1 .u-icon-2 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 1140px) / 2) + 636px);
    margin-left: calc(((100% - 1140px) / 2) + 374px);
  }

  .u-section-1 .u-icon-3 {
    margin-left: calc(((100% - 1140px) / 2) + 255px);
  }

  .u-section-1 .u-icon-4 {
    margin-left: calc(((100% - 1140px) / 2) + 255px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 1140px) / 2) + 656px);
    margin-left: calc(((100% - 1140px) / 2) + 382px);
  }

  .u-section-1 .u-icon-5 {
    margin-left: calc(((100% - 1140px) / 2) + 255px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 1140px) / 2) + 749px);
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-icon-6 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 1140px) / 2) + 771px);
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 1140px) / 2) + 379px);
    margin-left: calc(((100% - 1140px) / 2) + 388px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 1140px) / 2) + 220px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 674px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 1140px) / 2) + 345px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 629px);
    margin-left: calc(((100% - 1140px) / 2) + 437px);
  }

  .u-section-1 .u-icon-2 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 1140px) / 2) + 587px);
    margin-left: calc(((100% - 1140px) / 2) + 423px);
  }

  .u-section-1 .u-icon-3 {
    margin-left: calc(((100% - 1140px) / 2) + 345px);
  }

  .u-section-1 .u-icon-4 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 1140px) / 2) + 609px);
    margin-left: calc(((100% - 1140px) / 2) + 429px);
  }

  .u-section-1 .u-icon-5 {
    margin-left: calc(((100% - 1140px) / 2) + 345px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 1140px) / 2) + 659px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-icon-6 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 1140px) / 2) + 681px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-text-7 {
    font-size: 3.75rem;
    margin-right: calc(((100% - 1140px) / 2) + 427px);
    margin-left: calc(((100% - 1140px) / 2) + 479px);
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 412px;
  }

  .u-section-1 .u-image-1 {
    width: 265px;
    height: 265px;
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-1 {
    margin-top: -189px;
    margin-right: calc(((100% - 1140px) / 2) + 574px);
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 1140px) / 2) + 445px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 580px);
    margin-left: calc(((100% - 1140px) / 2) + 486px);
  }

  .u-section-1 .u-icon-2 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 1140px) / 2) + 533px);
    margin-left: calc(((100% - 1140px) / 2) + 477px);
  }

  .u-section-1 .u-icon-3 {
    margin-left: calc(((100% - 1140px) / 2) + 445px);
  }

  .u-section-1 .u-icon-4 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 1140px) / 2) + 557px);
    margin-left: calc(((100% - 1140px) / 2) + 481px);
  }

  .u-section-1 .u-icon-5 {
    margin-left: calc(((100% - 1140px) / 2) + 445px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 1140px) / 2) + 559px);
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-icon-6 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 1140px) / 2) + 581px);
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-7 {
    font-size: 3rem;
    margin-right: calc(((100% - 1140px) / 2) + 480px);
    margin-left: calc(((100% - 1140px) / 2) + 473px);
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 649px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 44px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 44px 558px 0 0;
}

.u-section-2 .u-gallery-1 {
  width: 481px;
  height: 456px;
  margin: -272px 0 60px auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-back-image-2 {
  object-position: 50% 29.47%;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-back-image-4 {
  object-position: 50% 17.46%;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-back-image-5 {
  object-position: 50% 23.22%;
}

.u-section-2 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 358px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 138px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-gallery-1 {
    margin-bottom: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-gallery-1 {
    width: 340px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 685px;
}

.u-section-3 .u-image-1 {
  width: 801px;
  height: 604px;
  margin: 20px 0 0 auto;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: -412px auto 0 -40px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 36px auto 60px 21px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    margin-top: 87px;
  }

  .u-section-3 .u-text-1 {
    margin-left: -33px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 543px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -351px;
    margin-left: -25px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 407px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -215px;
    margin-left: -19px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 337px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 256px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -64px;
    margin-left: -12px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 700px;
}

.u-section-4 .u-image-1 {
  width: 786px;
  height: 491px;
  object-position: 0% 50%;
  margin: 85px 0 0 auto;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: -346px auto 0 0;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 36px auto 60px 25px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 450px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -305px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 338px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -193px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 213px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -68px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 685px;
}

.u-section-5 .u-image-1 {
  width: 801px;
  height: 604px;
  margin: 20px 0 0 auto;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: -402px auto 0 -44px;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 36px auto 60px 32px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    margin-top: 87px;
  }

  .u-section-5 .u-text-1 {
    margin-left: -36px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 543px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -341px;
    margin-left: -28px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 407px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -205px;
    margin-left: -21px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 337px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 256px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -54px;
    margin-left: -13px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 699px;
}

.u-section-6 .u-image-1 {
  width: 786px;
  height: 491px;
  object-position: 0% 50%;
  margin: 85px 0 0 auto;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: -346px auto 0 -26px;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 36px auto 60px 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: -21px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-6 .u-image-1 {
    width: 720px;
    height: 450px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -305px;
    margin-left: -16px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 338px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -193px;
    margin-left: -12px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 421px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 213px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -68px;
    margin-left: -8px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 685px;
}

.u-section-7 .u-image-1 {
  width: 801px;
  height: 604px;
  margin: 40px 0 0 auto;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: -432px auto 0 -21px;
}

.u-section-7 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 36px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-image-1 {
    margin-top: 87px;
  }

  .u-section-7 .u-text-1 {
    margin-left: -18px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-7 .u-image-1 {
    width: 720px;
    height: 543px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -371px;
    margin-left: -14px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 407px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -235px;
    margin-left: -10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 337px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 256px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -84px;
    margin-left: -6px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 699px;
}

.u-section-8 .u-image-1 {
  width: 786px;
  height: 491px;
  object-position: 0% 50%;
  margin: 85px 0 0 auto;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: -346px auto 0 -40px;
}

.u-section-8 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 36px auto 60px 60px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-left: -33px;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-8 .u-image-1 {
    width: 720px;
    height: 450px;
  }

  .u-section-8 .u-text-1 {
    margin-top: -305px;
    margin-left: -25px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 338px;
  }

  .u-section-8 .u-text-1 {
    margin-top: -193px;
    margin-left: -19px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 421px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 213px;
  }

  .u-section-8 .u-text-1 {
    margin-top: -68px;
    margin-left: -12px;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 290px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: 86px auto 0;
}

.u-section-9 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 19px auto 60px 476px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-top: 266px;
    margin-left: -18px;
  }

  .u-section-9 .u-btn-1 {
    margin-left: 276px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-9 .u-text-1 {
    margin-left: -14px;
  }

  .u-section-9 .u-btn-1 {
    margin-left: 56px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-9 .u-text-1 {
    margin-left: auto;
  }

  .u-section-9 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 337px;
  }
}