.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 763px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-family: "Alfa Slab One";
  margin: 20px auto 0 20px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 394px;
  margin: 17px 0 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  font-style: italic;
  margin: -379px 600px 0 20px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 37px 70px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 16px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 420px;
    margin-bottom: 50px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 12px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 9px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 373px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -358px;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 6px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 235px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -220px;
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 952px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-family: "Alfa Slab One";
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-image-1 {
  width: 1004px;
  height: 506px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 53px 34px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 474px;
    margin-top: 855px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -769px;
    margin-right: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 809px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 363px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -658px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 272px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -567px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 171px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -466px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 448px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-family: "Alfa Slab One";
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px 43px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-bottom: 60px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1637px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-family: "Alfa Slab One";
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 895px 20px 0 auto;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -780px 170px 0 auto;
}

.u-section-4 .u-gallery-1 {
  width: 1140px;
  height: 867px;
  margin: -169px auto 60px 0;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-4 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-top: 99px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -191px;
    margin-right: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 306px;
    margin-right: 0;
  }

  .u-section-4 .u-gallery-1 {
    width: 940px;
    margin-top: 251px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-top: -125px;
  }

  .u-section-4 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-top: -461px;
  }

  .u-section-4 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    margin-top: -1245px;
  }

  .u-section-4 .u-gallery-1 {
    width: 340px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 954px;
}

.u-section-5 .u-text-1 {
  margin-left: 0;
  margin-right: auto;
  font-weight: 400;
  font-family: "Alfa Slab One";
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-5 .u-image-1 {
  width: 1004px;
  height: 506px;
  margin: 20px auto 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 34px 20px 30px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 922px;
  }

  .u-section-5 .u-image-1 {
    width: 940px;
    height: 474px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 811px;
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 363px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 272px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 171px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 828px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  font-family: "Alfa Slab One";
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-3 {
  font-weight: 400;
  font-family: "Alfa Slab One";
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-5 {
  font-weight: 400;
  font-family: "Alfa Slab One";
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 44px 20px 46px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-btn-1 {
    margin-right: 0;
  }
}