.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 616px;
}

.u-section-1 .u-text-1 {
  font-family: "Alfa Slab One";
  margin: 21px auto 0 60px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -47px 356px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 707px;
  height: 458px;
  margin: 25px auto 60px 196px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 49px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 156px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 38px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 48px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 350px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 18px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 220px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 717px;
}

.u-section-2 .u-text-1 {
  font-family: "Alfa Slab One";
  margin: 21px auto 0 60px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -42px 357px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 898px;
  height: 481px;
  margin: 22px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 49px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 157px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 38px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 48px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 386px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 290px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 18px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 183px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 998px;
}

.u-section-3 .u-text-1 {
  font-family: "Alfa Slab One";
  margin: 21px auto 0 60px;
}

.u-section-3 .u-image-1 {
  width: 820px;
  height: 546px;
  margin: 33px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 33px 0 47px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 38px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 479px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 811px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 359px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 18px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 226px;
  }
}